{% extends "base.html.twig" %}

{% block title %} Rôle non possédé {% endblock %}

{% block body %} 
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1> Rôle non possédé </h1>
                <p> Pour accédez à cette page vous devez avoir le rôle SUPER_ADMIN que vous n'avez pas </p>
            </div>
        </section>
    </main>

{% endblock %}